.hueTitle {
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(92deg,#ffffff,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 5s infinite linear;
}

.hueBackground {
    background: -webkit-linear-gradient(92deg,#feab3a,#feab3a);
    -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

body {
    font-family: Montserrat, sans-serif !important;
}

.navbar-brand {
    font-size: 1.5rem !important;
}

a {
    text-decoration: none !important;
}

footer {
    display:none !important;
    position:absolute;
    bottom: 0;
    width: 100%;
}

.nav-link {
    color:white !important;
}

@media only screen and (max-width: 576px) {
    h4 {
        font-size: 1rem !important;
    }
    footer {
        display: block !important;
        position: sticky;
        bottom: 0;
        width: 100%;
    }
}
