.hueTitle {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#a6f326,#66fe3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 30s infinite linear;
}

.hueBackground {
    background: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-animation: hue 30s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

td:not(:last-child) {
    padding-right: 1rem;
}

td:not(:first-child) {
    padding-left: 1rem;
}

.fadeline {
    display: block;
    border: none;
    color: white;
    height: 1px;
    max-width: 400px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 75% 75%, 350, from(#000), to(#fff));
}

a {
    color: #212529 !important;
    cursor: pointer !important;
}

#snapchatqr {
    max-width: 100%;
    border-radius: 2rem;
}

@media screen and (max-width: 576px) {
    .display-4 {
        font-size: 2rem !important;
        font-weight: 500 !important;
    }
    .lead {
        font-size: 1rem !important;
    }
}