.hueTitle {
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(92deg,#ffffff,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 5s infinite linear;
}

.hueBackground {
    background: -webkit-linear-gradient(92deg,#ffffff,#feab3a);
    -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

body {
    font-family: Montserrat, sans-serif !important;
}

.navbar-brand {
    font-size: 1.5rem !important;
}
