h1 {
    font-family: 'Segoe UI Thin' !important;
}

#contactInfoJumbotron {
    background-color: #e6e6e6;
}

@media screen and (max-width: 576px) {
    #pageTitle {
        font-size: 2.5rem;
    }
}