.container {
    margin-top: 20vh !important;
    text-align: center !important;
    font-family: 'Roboto Condensed' !important;
}

.fadeline {
    width: 50% !important;
    border: none !important;
    height: 1px !important;
    background: black !important;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black)) !important;
}

.fadetable {
    height: 125px;
}

.fadetable TD {
    text-align: center;
}

.fadetable td a i {
    width: 78px !important;
    height: 87px !important;
}


.fadetable TD:not(:last-child) {
    padding-right: 2rem;
}

.fadetable TD:not(:first-child) {
    padding-left: 2rem;
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,1)), color-stop(100%,hsla(0,0%,0%,0)));
    background-image: -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,1) 50%, hsla(0,0%,0%,0) 100%);
    background-image: -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,1) 50%, hsla(0,0%,0%,0) 100%);
    background-image: -ms-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,1) 50%, hsla(0,0%,0%,0) 100%);
    background-image: -o-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,1) 50%, hsla(0,0%,0%,0) 100%);
    background-image: linear-gradient(to bottom, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,1) 50%, hsla(0,0%,0%,0) 100%);
}

.profilePicture {
    height: 250px;
}

@media screen and (max-width: 576px) {
    .container {
        margin-top: 3vh !important;
        text-align: center !important;
        font-family: 'Roboto Condensed' !important;
    }

    .fadeline {
        width: 100% !important;
        border: none !important;
        height: 1px !important;
        background: black !important;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black)) !important;
    }

}