.jumbotron {
    margin-bottom: 0rem !important;
}

#mainJumbotron {
    background-color: #fff;
    padding-bottom: 0rem !important;
}

#contactInfoJumbotron {
    background-color: #e6e6e6;
    padding: 1rem;
}

#dhProfilePicture {
    max-width: 100%;
}

.my-4 {
    border-top-color: lightgray !important;
}

.alignPaddingRight {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

#profilePictureBorder {
    border-left: 1px solid #d5d5d5;
}

@media screen and (max-width: 576px) {
    #pageTitle {
        font-size: 2.5rem;
    }

    #contactInfoJumbotron {
        background-color: #e6e6e6;
    }

    #profilePictureBorder {
        border-left: none;
    }

    #headerDiv {
        text-align:center;
    }

    .infotext {
        margin:1rem;
    }

    .alignPaddingRight {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
}